<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.club.mapper.AttendanceRuleMapper">

  <resultMap id="AttendanceRuleMap" type="com.example.club.domain.AttendanceRule">
    <id column="id" property="id"/>
    <result column="club_id" property="clubId"/>
    <result column="late_threshold" property="lateThreshold"/>
    <result column="leave_early_threshold" property="leaveEarlyThreshold"/>
    <result column="absence_threshold" property="absenceThreshold"/>
    <result column="created_time" property="createdTime"/>
    <result column="updated_time" property="updatedTime"/>
  </resultMap>

  <select id="selectByClubId" resultMap="AttendanceRuleMap">
    select id, club_id, late_threshold, leave_early_threshold, absence_threshold, created_time, updated_time
    from attendance_rules
    where club_id = #{clubId}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into attendance_rules (
      club_id, late_threshold, leave_early_threshold, absence_threshold
    ) values (
      #{clubId}, #{lateThreshold}, #{leaveEarlyThreshold}, #{absenceThreshold}
    )
  </insert>

  <update id="update">
    update attendance_rules
    set late_threshold = #{lateThreshold},
        leave_early_threshold = #{leaveEarlyThreshold},
        absence_threshold = #{absenceThreshold}
    where club_id = #{clubId}
  </update>

</mapper>

